# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Credentials / secrets
*.json
.env
.env.*
*.pem
*.key

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

.current-image
.previous-image
.failed-image
